body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0%;
  height: 100vh;
  width: 100%;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
.main_div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center; 
}
input{
  text-align: center;
  border: none;
  background: transparent;
  height: 30px;
  top:10px;
  font-size: 25px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid blueviolet;
  outline: none;
}
.center_div{
  width:35%;
height: 80vh;
background-color: #fff;
box-shadow: 5px 5px 25px -5px rgb(164, 165, 167);
border-radius: 15px;
}
.showItems {
  margin-top: 1rem;
  text-align: center;
}
.eachItem{
  background: #fff;

  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 18rem;
  word-break: break-word;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1{
  color:white;
  background: blueviolet;
  box-shadow: 5px 5px 15px -5px rgb(181, 105, 252);
  margin-bottom: 10px;
  padding: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.overlay{
position: absolute;
width: 100%;
height: 100%;
top: 0%;
z-index: 99;
}
.first{
  background: blueviolet;
}
.second{
  background: blueviolet;
  left:33.3%;
}
.third{
  background: blueviolet;
  left:66.6%;
}
.x{
  display: flex;
  justify-content: center;
}
.greet
{
  padding: 20px 20px ;
  
  border-radius: 15px;
  color:black;
}
span{
  color:black;
}
