body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0%;
  height: 100vh;
  width: 100%;

}
*{
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}
.main_div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center; 
}
input{
  text-align: center;
  border: none;
  background: transparent;
  height: 30px;
  top:10px;
  font-size: 25px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid blueviolet;
  outline: none;
}
.center_div{
  width:35%;
  min-width: 50%;
height: 85vh;
background-color: #fff;
box-shadow: 5px 5px 25px -5px rgb(164, 165, 167);
border-radius: 15px;
}
.showItems {
  margin-top: 1.2rem;
  text-align: center;
}
.eachItem{
  background: #fff;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
 min-width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1{
  color:white;
  background: blueviolet;
  box-shadow: 5px 5px 15px -5px rgb(181, 105, 252);
  margin-bottom: 10px;
  padding: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.overlay{
position: absolute;
width: 100%;
height: 100%;
top: 0%;
z-index: 99;
}
.first{
  background: blueviolet;
}
.second{
  background: blueviolet;
  left:33.3%;
}
.third{
  background: blueviolet;
  left:66.6%;
}
.x{
  display: flex;
  justify-content: center;
}
.greet
{
  padding: 20px 20px ;
  
  border-radius: 15px;
  color:black;
}
span{
  color:black;
}
.btn {
  letter-spacing: 0.03em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}
.btn:hover {
  text-decoration: none;
}

.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid 2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: blueviolet;
}
.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}
.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.03em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}
